.btn-etho { 
    color: #ffffff; 
    background-color: #7A1336; 
    border-color: #450118; 
  } 
   
  .btn-etho:hover, 
  .btn-etho:focus, 
  .btn-etho:active, 
  .btn-etho.active, 
  .open .dropdown-toggle.btn-etho { 
    color: #ffffff; 
    background-color: #B01549; 
    border-color: #450118; 
  } 
   
  .btn-etho:active, 
  .btn-etho.active, 
  .open .dropdown-toggle.btn-etho { 
    background-image: none; 
  } 
   
  .btn-etho.disabled, 
  .btn-etho[disabled], 
  fieldset[disabled] .btn-etho, 
  .btn-etho.disabled:hover, 
  .btn-etho[disabled]:hover, 
  fieldset[disabled] .btn-etho:hover, 
  .btn-etho.disabled:focus, 
  .btn-etho[disabled]:focus, 
  fieldset[disabled] .btn-etho:focus, 
  .btn-etho.disabled:active, 
  .btn-etho[disabled]:active, 
  fieldset[disabled] .btn-etho:active, 
  .btn-etho.disabled.active, 
  .btn-etho[disabled].active, 
  fieldset[disabled] .btn-etho.active { 
    background-color: #7A1336; 
    border-color: #450118; 
  } 
   
  .btn-etho .badge { 
    color: #7A1336; 
    background-color: #ffffff; 
  }