<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="assets/styles/about.css">
</head>

<div id="walletsToolbar">
  <p style="font-size: 28px; color:white"> About Ether-1 </p>
</div>

<center>
  <h2 style="color:white; margin-top: 15px">Buy ETHO</h2>
</center>

<br>

<div class="ui four column relaxed grid">
  <div class="row">
    <div class="column">
      <a href="https://cryptowolf.eu" class="open-in-browser">
        <img src="assets/images/markets/cw.png" style="width:125px; height:103px; margin-left: 45px;"></img>
        <h4>CryptoWolf</h4>
      </a>
    </div>
    <div class="column">
      <a href="https://app.stex.com?ref=26491159" class="open-in-browser">
        <img src="assets/images/markets/stex.svg"></img>
        <h4>Stex</h4>
      </a>
    </div>
    <div class="column">
      <a href="https://chainex.io/register/CX187230" class="open-in-browser">
        <img src="assets/images/markets/chainex.png"></img>
        <h4>ChainEX</h4>
      </a>
    </div>
    <div class="column">
      <a href="https://google.com" class="open-in-browser">
        <img src="assets/images/markets/graviex.png" style="margin-left: 65px;"></img>
        <h4>Graviex</h4>
      </a>
    </div>
    <br>
    <div class="column">
      <a href="https://tradecx.io?ref=232" class="open-in-browser">
        <img src="assets/images/markets/tradecx.png" style="padding-top: 50px; padding-left: 35px;">
        <h4>TradeCX</h4>
      </a>
    </div>
    <div class="column">
      <a href="https://www.safe.trade/" class="open-in-browser">
        <img src="assets/images/markets/safe.png" style="padding-left: 85px;padding-top: 50px;height: 96px;width: 129px;">
        <h4>SafeTrade</h4>
      </a>
    </div>
    <div class="column">
      <a href="https://mercatox.com/?referrer=467736" class="open-in-browser">
        <img src="assets/images/markets/mercatoxlogo.png" style="padding-left: 65px;padding-top: 50px;height: 96px;">
        <h4>Mercatox</h4>
      </a>
    </div>
    <div class="column"></div>
  </div>
</div>

<script href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
