<div id="marketStats">
    <div class="row">
        <div class="col s12 m3">
            <div class="card etho-red">
                <div class="card-content white-text">
                    <span class="card-title">ETHO to USD 💵</span>
                    <p id="ETHOToUSD">N/A</p>
                </div>
                <div class="card-action">
                    7 days change: <p id="changeUSD" class="cardValue">N/A 🔗</p>
                </div>
            </div>
        </div><!-- col-3 -->
        <div class="col s12 m3">
            <div class="card etho-red">
                <div class="card-content white-text">
                    <span class="card-title">ETHO to BTC ₿</span>
                    <p id="ETHOToBTC">N/A</p>
                </div>
                <div class="card-action">
                    7 days change:<p id="changeBTC" class="cardValue">N/A 🔗</p>
                </div>
            </div>
        </div><!-- col-3 -->
        <div class="col s12 m3">
            <div class="card etho-red">
                <div class="card-content white-text">
                    <span class="card-title">Marketcap 💰</span>
                    <p id="marketcap">N/A</p>
                </div>
                <div class="card-action">
                    high 24h: <p id="changeMarketcap" class="cardValue">N/A 🔗</p>
                </div>
            </div>
        </div><!-- col-3 -->
        <div class="col s12 m3">
            <div class="card etho-red">
                <div class="card-content white-text">
                    <span class="card-title">Daily Volume 📊</span>
                    <p id="dailyVolume">N/A</p>
                </div>
                <div class="card-action">
                    all time high:<p id="changeVolume" class="cardValue">N/A 🔗</p>
                </div>
            </div>
        </div><!-- col-3 -->
    </div>
</div>
<div id="chartMarketPrice">
    <canvas id="chartMarketPriceCanvas"></canvas>
    <a class="chart-style"></a>
</div>
<span id="nodestorage" style="display:none;">Loading</span>

