<div id="marketStats">
    <div class="row">
        <div class="col s12 m3">
            <div class="card etho-red">
                <div class="card-content white-text">
                    <span class="card-title">ETHO to USD</span>
                    <p id="ETHOToUSD">N/A</p>
                </div>
                <div class="card-action">
                    <p id="changeUSD">This is a link</p>
                </div>
            </div>
        </div><!-- col-3 -->
        <div class="col s12 m3">
            <div class="card etho-red">
                <div class="card-content white-text">
                    <span class="card-title">ETHO to BTC</span>
                    <p id="ETHOToBTC">N/A</p>
                </div>
                <div class="card-action">
                    <p id="changeBTC">This is a link</p>
                </div>
            </div>
        </div><!-- col-3 -->
        <div class="col s12 m3">
            <div class="card etho-red">
                <div class="card-content white-text">
                    <span class="card-title">Marketcap</span>
                    <p id="marketcap">N/A</p>
                </div>
                <div class="card-action">
                    <p id="changeMarketcap">This is a link</p>
                </div>
            </div>
        </div><!-- col-3 -->
        <div class="col s12 m3">
            <div class="card etho-red">
                <div class="card-content white-text">
                    <span class="card-title">Daily Volume</span>
                    <p id="dailyVolume">N/A</p>
                </div>
                <div class="card-action">
                    <p id="changeVolume">This is a link</p>
                </div>
            </div>
        </div><!-- col-3 -->
    </div>
</div>
<div id="chartMarketPrice">
    <canvas id="chartMarketPriceCanvas"></canvas>
    <a class="chart-style"></a>
</div>
<span id="nodestorage" style="display:none;">Loading</span>
