<div id="transactionsWrapper">
    <!----<button type="button" class="btn btn-etho" id="btnRefreshTransactions">Refresh</button>-->
    <table id="tableTransactionsForAll" class="display tableTransactions" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>Block</th>
                <th>Timestamp</th>
                <th>From</th>
                <th>To</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Block</th>
                <th>Timestamp</th>
                <th>From</th>
                <th>To</th>
                <th>Value</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

<div class="loadingOverlay" id="loadingTransactionsOverlay">
    <div class="loadingWrapper">
        <div class="loadingTextTransactions">Transaction are loading, please wait...</div>
        <div class='spinner'>
            <div class='bounce bounce1'></div>
            <div class='bounce bounce2'></div>
            <div class='bounce bounce3'></div>
        </div>
    <div>
</div>
