<div id="transactionsWrapper">
  <table id="tableTransactionsForAll" class="ui tablet stackable table" style="width:100%">
    <thead>
      <tr>
        <th scope="col" style="display:none"></th>
        <th>Block</th>
        <th>Timestamp</th>
        <th>TxHash</th>
        <th>From</th>
        <th>To</th>
        <th>Value</th>
        <th></th>
      </tr>
    </thead>
  </table>
</div>

<!-- transaction details dialog -->
<div id="dlgTransactionInfo" class="modalDialog" data-izimodal-title="Transaction Info" data-izimodal-subtitle="Detailed info about the selected transaction" data-izimodal-icon="icon-home">
  <div class="modalBody">
    <div class="form-group txInfo">
      <i class="fas fa-wallet"></i>
      <label>Block height:</label>
      <label id="txBlockHeight"></label>
    </div>
    <div class="form-group txInfo">
      <i class="fas fa-wallet"></i>
      <label>TX Timestamp:</label>
      <label id="txTimestamp"></label>
    </div>
    <div class="form-group txInfo">
      <i class="fas fa-wallet"></i>
      <label>TX hash:</label>
      <a id="txHash"></a>
    </div>
    <div class="form-group txInfo">
      <i class="fas fa-wallet"></i>
      <label>From address:</label>
      <a id="txFromAddress"></a>
    </div>
    <div class="form-group txInfo">
      <i class="fas fa-wallet"></i>
      <label>To address:</label>
      <a id="txToAddress"></a>
    </div>
    <div class="form-group txInfo">
      <i class="fas fa-dollar-sign"></i>
      <label>Value:</label>
      <label id="txValue"></label>
      <label class="currencyTicker">ETHO</label>
    </div>
    <button type="button" class="btn btn-etho btn-dialog-confirm" id="btnTxInfoClose">Close</button>
  </div>
</div>

<div class="loadingOverlay" id="loadingTransactionsOverlay">
  <div class="loadingWrapper">
    <div class="loadingTextTransactions">Transaction are loading, please wait...</div>
    <div class='spinner'>
      <div class='bounce bounce1'></div>
      <div class='bounce bounce2'></div>
      <div class='bounce bounce3'></div>
    </div>
    <div></div>

    <span id="nodestorage" style="display:none;">Loading</span>
